.footer__columns {
    width: 90%;
    /*ширина блока относительно родителя*/
    display: flex;
    justify-content: space-between;
    /*распределяем блоки вдоль оси.. первый и последний прижимаем к краям*/

}